{% extends "template.html" %}
{% block title %}Welcome Back{% endblock %}

{% block nav %}
<p>New users: <a href="{{ url_for('register') }}">Register</a><br>
Existing users: <a href="{{ url_for('login') }}">Log in</a><br>
Everyone: Stay <a href="{{ url_for('index') }}">Home</a>.</p>
{% endblock %}

{% block section %}
<p>Welcome to the login page:<br><br>
<form action="{{ url_for('welcome') }}" method="post">
Username: <input type="text" name="name" placeholder=" username"><br>
Password: <input type="password" name="pw" placeholder=" password"><br>
<button>LOGIN!</button>
</form>
We only keep what you gave us, but chances are we'll never actually see it... better chance that all the tables get dropped once the project is graded. Feel free to make sure the links work and stuff, or maybe club a book.
{% endblock %}